/*header*/
.topo-site{
  
}
#logo-topo{
  padding: 10%;
}
#search-bar{
  width: 100%;
  height: 100%;
  position: relative;
}
#search-bar-input{
  position: absolute;
  bottom: 3.5em;
  height: 2.5em;
  right: 5%;
  width: 60%;
  border: #000 2px solid;
}
#search-bar button{
  background-image: url('../img/lupa-branca-png-3.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 5%;
  width: 2.8em;
  bottom: 3.5em;
  height: 2.5em;
  background-color: #475ab1;
}
#search-bar button:hover{
  background-color: #808cc0;
}
#account-header, #cart-header{
  width: 100%;
  height: 100%;
  position: relative;
}
.cart-page, .account-page{
  bottom: 35%;
  position: absolute;
  left: 10%;
  text-decoration: none;
  color: #ec0b29;
}
.cart-page{
  margin-left: 0.7em;
}
.icon-account::before{
  position: absolute;
  left: -4em;
  bottom: 0em;
  content: "";
  background-image: url('../img/avatar.png');
  background-size: cover;
  width: 3.8em;
  height: 3.8em;
  border-radius: 1em;
}
.icon-cart::before{
  position: absolute;
  left: -4em;
  bottom: 0em;
  content: "";
  background-image: url('../img/cart.png');
  background-size: cover;
  width: 3.8em;
  height: 3.8em;
  border-radius: 1em;
}
.info-cart, .info-account{
  text-decoration: none;
  font-size: 1.2em;
  margin-bottom: 0.4em;
}
.account-page{
  left: 60%;
}
/*nav*/
nav{
  background-color: #d5021f;
}
.menu-row{
  list-style: none;
  color: #FFF;
  margin-bottom: 0;
}
.menu-list{
  display: inline-block;
  width: 10em;
  text-align: center;
  padding: 1em 0em;
  font-size: 1em;
}
.menu-list:hover{
  color: #000;
  background-color: #ec0b29;
}